<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>
    </settings>
    <typeAliases>
        <typeAlias type="org.uims.datamaintain.user.dto.AccountDto" alias="Alias_AccountDto"/>
        <typeAlias type="org.uims.datamaintain.user.dto.UserInfoDo" alias="Alias_UserInfoDto"/>
    </typeAliases>
</configuration>